/*!
 * rc-photo-grid v1.0.0
 * MIT Licensed
 */
.photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo-grid:after {
  content: '';
  -webkit-box-flex: 9999999;
      -ms-flex-positive: 9999999;
          flex-grow: 9999999;
  min-width: 200px;
  height: 0;
}

.photo-grid-wrapper {
  margin: 2px;
  background-color: violet;
  position: relative;
}

.photo-grid-wrapper i {
  display: block;
  padding-bottom: 100%;
}
.photo-grid-wrapper img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}
